
<!DOCTYPE HTML>
<html>
<head>
<title>All booked.</title>
<!-- Custom Theme files -->
<link href="{{url_for('static',filename='css/allbooked.css')}}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Creative 404  Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
</head>
<body>
<!--404 page start here-->
<div class="not-found">
	<div class="notfound-top">
	    <center><h1>We regret that we could not serve you right now.</h1></center>
	</div>
  <div class="clear"> </div>
</div>
<!--404 page end here-->
</body>
</html>
